.sidenav-container {
  width: 250px;
  height: 100vh;
  background-color: #181f26;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  margin: 20px;
  width: 90%;
  background-color: #323d49;
  color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.logout-icon {
  font-size: 24px;
  cursor: pointer;
  color: #3592fd;
}

.field-container {
  margin-top: 20px;
  width: 100%;
}

.field-item {
  /* margin-bottom: 10px; */
}

.field-item-content {
  text-align: left; /* Align text to the left */
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #323d49;
  /* transition: background-color 0.3s; */
}

.field-item-content.selected {
  background-color: #4b5966;
}
.field-item-content.hovered {
  background-color: #4b5966;
}

.field-name {
  cursor: pointer;
  font-weight: bold;
  color: #fafafa;
}
.field-name.selected {
  cursor: pointer;
  font-weight: bold;
  color: #fafafa;
}

.field-details {
  margin-top: 10px;
}

.field-input {
  margin-right: 10px;
  padding: 5px;
}

.btn-sm {
  margin-right: 5px;
}
